<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/bot">Çalışan Botlar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/process">Yeni Bot</a>
        <a class="nav-link" href="/reports">Raporlar</a>
        <a class="nav-link" href="/hashtag">Hashtag</a>
        <a class="nav-link" href="/requests">Takip Geri Çek</a>
        <a class="nav-link" href="/dmProfile">DM Profilleri</a>
        <a class="nav-link" href="/summary">Özetler</a>
        <a class="nav-link" href="/settings">Ayarlar</a>
      </div>
      <ul class="navbar-nav ms-auto flex-nowrap">
        <a class="nav-link" href="/logout">Çıkış</a>
      </ul>
    </div>
  </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>