{{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/bot">Çalışan botlar</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="/process">Yeni bot oluştur</a>
      <a class="nav-item nav-link" href="/reports">Raporlar</a>
      <a class="nav-item nav-link" href="/hashtag">Hashtag</a>
      <a class="nav-item nav-link" href="/requests">Takip İsteklerini geri çek</a>
      <a class="nav-item nav-link" href="/dmProfile">DM Profilleri</a>
      <a class="nav-item nav-link" href="/summary">Özetler</a>
      <a class="nav-item nav-link" href="/settings">Ayarlar</a>
      <p></p>
    </div>
  </div>
</nav> --}}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/bot">Çalışan Botlar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/process">Yeni Bot</a>
        <a class="nav-link" href="/reports">Raporlar</a>
        <a class="nav-link" href="/hashtag">Hashtag</a>
        <a class="nav-link" href="/requests">Takip Geri Çek</a>
        <a class="nav-link" href="/dmProfile">DM Profilleri</a>
        <a class="nav-link" href="/summary">Özetler</a>
        <a class="nav-link" href="/settings">Ayarlar</a>
      </div>
    </div>
  </div>
</nav>
