<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <title>Server</title>
</head>

<body>
<header>
    <a href="/">Çalışan botlar</a>
    <a href="/process">Yeni bot oluştur</a>
</header>

<p>Çalışan botlar burda gözükecek</p>

</body>

</html>