<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Çalışan botlar</title>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/">Çalışan botlar</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/process">Yeni bot oluştur</a>
      <a class="nav-item nav-link" href="/reports">Raporlar</a>
      <a class="nav-item nav-link" href="/requests">Takip İstekleri</a>
      <a class="nav-item nav-link" href="/settings">Ayarlar</a>
      <a class="nav-item nav-link" href="/hashtag">Hashtag</a>
    </div>
  </div>
</nav>

{{#each usernames}}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.username}}</h5>
            <a href="/exitProcess/{{this.username}}" class="btn btn-danger">Durdur</a>
        </div>
    </div>
{{/each}}

</body>

</html>