<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/125fc83504.js" crossorigin="anonymous"></script>
    <title>DM profili oluştur</title>
</head>
<body>

{{>navbar}}

<form>
    <ul class="form-style-1">
        <li>
            <label>Profil adı</label>
            <input type="text" class="field-divided" id="profile-name"/>
        </li>
        <li class="message-area">
            <label>Mesajlar</label>
            <textarea class="field-long field-textarea message"></textarea>
        </li>
        <i class="fas fa-plus-square fa-3x" id="add-new-dm"></i>

        <li>
            <input type="submit" value="Profili oluştur"/>
        </li>
    </ul>
</form>

<script src="js/createDmProfile.js"></script>
</body>

</html>