<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Kayıt Ol</title>
</head>
<body>

    
    <div style="text-align:center">
        <h1>Kayıt Ol</h1>

        {{!-- <ul>
            <% if(typeof errors != 'undefined'){ %>
                <% errors.forEach(error => { %>
                    <li><%= errors.message %></li>

                <% }) %>
                
            <% } %>
        </ul> --}}
    <form action="/clients/register" method="POST">
    <div>
        <input type="email" id="email" name="email" placeholder="Email" required/>
    </div>
    <div>
        <input type="password" id="password" name="password" placeholder="Şifre" required/>
    </div>
    <div>
        <input type="password" id="password2" name="password2" placeholder="Şifre Onay" required/>
    </div>
    <div>
        <input type="submit" value="Kayıt Ol" />
    </div>
    {{!-- <a href="/clients/login">Zaten üye misin? Giriş Yap</a> --}}
    </form>
    </div>
    
</body>
</html>