<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Takip isteklerini geri çek</title>
</head>

<body>

{{>navbar}}


<form>
    <ul class="form-style-1">
        <li>
            <label>Giriş yapılacak hesap bilgileri</label>
            <input type="text" class="field-divided" placeholder="Kullanıcı adı" id="username"/>
            <input type="password" class="field-divided password-bs" placeholder="Şifre" id="password"/>
        </li>
        <li>
            <label>Kaç gün önceki takipler silinsin?</label>
            <input type="text" class="field-divided" placeholder="Gün sayısı" id="days"/>
        </li>
        <li>
            <label>Bekleme aralığı (saniye)</label>
            <input type="text" class="field-divided" placeholder="Minimum" id="minTime"/>
            <input type="text" class="field-divided" placeholder="Maksimum" id="maxTime"/>
        </li>
        <li>
            <input type="submit" value="İstekleri geri al"/>
        </li>
    </ul>
</form>

<script src="js/requests.js"></script>
</body>

</html>