<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>Ayarlar</title>
</head>

<body>

{{>navbar}}

<form>
    <ul class="form-style-1">
        <li>
            <label>Yeni şifre</label>
            <input type="password" class="field-divided password-bs" id="newPassword1"/>
        </li>
        <li>
            <label>Yeni şifre tekrar</label>
            <input type="password" class="field-divided password-bs" id="newPassword2"/>
        </li>
        <li>
            <input type="submit" value="Şifreyi değiştir"/>
        </li>
    </ul>
</form>

<script src="js/passwordChange.js"></script>
</body>

</html>